/* 1400, 1199, 991, 767, 575, 480, 360, 320 */
/* CSS Index
-----------------------------------
1.default css
2.
-----------------------------------
*/
/* min-width 1430 */
@media (min-width: 1430px) {
}
/* max-width 1399 */
@media (max-width: 1399.98px) {
    /* header section start */
    .main-menu ul li {
        margin-right: 16px;
    }
    /* header section end */

    
}
@media (max-width: 1367px) {
    /* our technologies area section start */
      .technologies-box-info:nth-child(11){
        border-top-right-radius: 32px;
      }
      .technologies-box-info:nth-child(12){
        border-top-right-radius: 0px;
      }
      .technologies-box-info:nth-child(49){
        border-bottom-left-radius: 0px;
      }
      .technologies-box-info:nth-child(56){
        border-bottom-left-radius: 32px;
      }
      .technologies-box-info:nth-child(55){
        border-bottom-right-radius: 32px;
      }
      .technologies-box-wrapper{
        max-width: 1232px;
      }
    /* our technologies area section end */
}

@media (max-width: 1255px) {
    /* our technologies area section start */
      .technologies-box-info:nth-child(10){
        border-top-right-radius: 32px;
      }
      .technologies-box-info:nth-child(11) ,
      .technologies-box-info:nth-child(12){
        border-top-right-radius: 0px;
      }
      .technologies-box-info:nth-child(56),
      .technologies-box-info:nth-child(49){
        border-bottom-left-radius: 0px;
      }
      .technologies-box-info:nth-child(51){
        border-bottom-left-radius: 32px;
      }
      .technologies-box-info:nth-child(55){
        border-bottom-right-radius: 0px;
      }
      .technologies-box-wrapper{
        max-width: 1123px;
      }
    /* our technologies area section end */
}
@media (max-width: 1167px) {
    /* our technologies area section start */
      .technologies-box-info:nth-child(9){
        border-top-right-radius: 32px;
      }
      .technologies-box-info:nth-child(10) ,
      .technologies-box-info:nth-child(11) ,
      .technologies-box-info:nth-child(12){
        border-top-right-radius: 0px;
      }
      .technologies-box-info:nth-child(56),
      .technologies-box-info:nth-child(49){
        border-bottom-left-radius: 0px;
      }
      .technologies-box-info:nth-child(54){
        border-bottom-right-radius: 32px;
      }
      .technologies-box-info:nth-child(55){
        border-bottom-left-radius: 32px;
      }
      .technologies-box-info:nth-child(51){
        border-bottom-left-radius: 0px;
      }
      .technologies-box-wrapper{
        max-width: 1008px;
      }
    /* our technologies area section end */
}
@media (max-width: 1055px) {
    /* our technologies area section start */
    .technologies-box-info:nth-child(8) {
        border-top-right-radius: 32px;
    }
    .technologies-box-info:nth-child(9) {
        border-top-right-radius: 0px;
    }
    .technologies-box-info:nth-child(54) {
        border-bottom-right-radius: 0px;
    }
    .technologies-box-info:nth-child(55) {
        border-bottom-left-radius: 0px;
    }
    .technologies-box-info:nth-child(56) {
        border-bottom-right-radius: 32px;
    }
    .technologies-box-info:nth-child(57) {
        border-bottom-left-radius: 32px;
    }
    .technologies-box-wrapper{
        max-width: 896px;
    }
    /* our technologies area section end */
}
@media (max-width: 943px) {
    /* our technologies area section start */
    .technologies-box-info:nth-child(7) {
        border-top-right-radius: 32px;
    }
    .technologies-box-info:nth-child(8) {
        border-top-right-radius: 0px;
    }
    .technologies-box-wrapper{
        max-width: 785px;
    }
    /* our technologies area section end */
}
@media (max-width: 831px) {
    /* our technologies area section start */    
    .technologies-box-info:nth-child(6) {
        border-top-right-radius: 32px;
    }
    .technologies-box-info:nth-child(7) {
        border-top-right-radius: 0px;
    }
    .technologies-box-info:nth-child(57) {
        border-bottom-left-radius: 0px;
    }
    .technologies-box-info:nth-child(56) {
        border-bottom-right-radius: 0px;
    }
    .technologies-box-info:nth-child(55) {
        border-bottom-left-radius: 32px;
    }
    .technologies-box-wrapper{
        max-width: 673px;
    }
    /* our technologies area section end */
}
@media (max-width: 719px) {
    /* our technologies area section start */    
    .technologies-box-info:nth-child(5) {
        border-top-right-radius: 32px;
    }
    .technologies-box-info:nth-child(6) {
        border-top-right-radius: 0px;
    }
    .technologies-box-info:nth-child(56) {
        border-bottom-left-radius: 32px;
    }
    .technologies-box-info:nth-child(55) {
        border-bottom-left-radius: 0px;
    }
    .technologies-box-wrapper{
        max-width: 564px;
    }
    /* our technologies area section end */    
}

@media (max-width: 607px) {
    /* our technologies area section start */        
    .technologies-box-info:nth-child(4) {
        border-top-right-radius: 32px;
    }
    .technologies-box-info:nth-child(5) {
        border-top-right-radius: 0px;
    }
    .technologies-box-info:nth-child(56) {
        border-bottom-left-radius: 0px;
    }
    .technologies-box-info:nth-child(57) {
        border-bottom-left-radius: 32px;
    }
    .technologies-box-wrapper{
        max-width: 499px;
    }
    /* our technologies area section end */        
}

@media (max-width: 495px) {
    /* our technologies area section start */   
    .technologies-box-info:nth-child(3) {
        border-top-right-radius: 32px;
    }   
    .technologies-box-info:nth-child(4) {
        border-top-right-radius: 0px;
    }   
    .technologies-box-info:nth-child(57) {
        border-bottom-left-radius: 0px;
    }
    .technologies-box-info:nth-child(58) {
        border-bottom-left-radius: 32px;
    }
    .technologies-box-wrapper{
        max-width: 337px;
    }
    /* our technologies area section end */      
}

@media (max-width: 383px) {
    /* our technologies area section start */   
    .technologies-box-info {
        width: 90px;
    }
    .technologies-box-wrapper{
        max-width: 272px;
    }
    /* our technologies area section end */   
}

/* max-width 1199 */
@media (max-width: 1199.98px) { 
    /* container padding fix */
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
        padding-right: 24px;
        padding-left: 24px;
    }
    .banner-area.content-version::before {
        width: calc(100% - 48px);
        margin-left: 24px;
      }
    /* container padding fix */
    /* header section start */
    .dialogica-btn {
        padding: 12px 35px;
    }
    .main-logo img {
        max-width: 110px;
    }
    /* header section end */

    /* banner section start */
    .banner-img-wrapper {
        width: 100%;
        max-width: 450px;
        margin-right: auto;
        margin-left: auto;
    }
    .banner-area .banner-content-wrapper {
        margin-bottom: 35px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    .banner-area .col {
        flex-basis: 100%;
    }
    /* banner section end */

    /* dialogica solutions section start */
    .dialogica-solutions-card-wrapper .dialogica-solutions-card-info {
        min-height: 280px;
    }
    .dialogica-solutions-card-wrapper .dialogica-solutions-card-info:nth-child(2){
        width: calc(50% - 10px);
    }
    /* dialogica solutions section end */
    /* our solutions section start */
    .inner-solutions-area .row {
        --bs-gutter-x: 24px;
    }
    /* our solutions section start  */
    /* footer section start */
    .social-link {
        width: 40px;
        height: 40px;
    }
    .social-link svg {
        height: 16px;
        width: 16px;
    }
    /* footer section end */
    /* our engagement models section start */
    .engagement-img-wrapper {
        width: calc(50% - 85px);
    }
    .engagement-models-card-content {
        max-width: 470px;
    }
    .engagement-models-area .card-info {
        gap: 15px;
    }
    /* our engagement models section end */
}
/* max-width 1399 - min-width 992*/
@media (max-width: 1199.98px) and (min-width: 992px) {
}
/* max-width 991 */
@media (max-width: 991.98px) {
    /* all padding */
    
    .about-card-area,
    .our-engagement-models-area {
        padding: 48px 0px;
    }
    .our-solutions-area ,
    .section-padding-md {
        padding: 28px 0;
    }
    .our-technologies-area ,
    .section-padding {
        padding: 35px 0;
    }
    /* all padding */
    
    /* heading  style*/
    .main-title ,
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 20px;
    }
    h6{
        font-size: 18px;
    }
    .section-title-wrapper {
        margin-bottom: 25px;
    }
    .section-title-wrapper h2 {
        margin-bottom: 12px;
    }
    /* header section start */
    .header-area {
        padding: 20px 0;
    }
    /* header section end  */
    /* banner section start */

    .banner-area ,
    .banner-area.content-version {
        min-height: 350px;
        padding: 100px 0 40px;
    }
    .banner-area{
        min-height: 500px;
    }
    .contact-area.contact-page {
        padding: 120px 0 50px;
    }
    /* banner section end */

    /* technologies section start */
    
    .technologies-groups-wrapper.version-2 .technologies-content ,
    .technologies-content {
        max-width: 100%;
    }
    .our-technologies-inner-area .technologies-groups-wrapper {
        margin-bottom: 30px;
    }
    /* technologies section end */
    /* dialogica solutions section start */
    .dialogica-solutions-card-wrapper .dialogica-solutions-card-info {
        min-height: auto;
    }
    .about-card-wrapper .card-info ,
    .dialogica-solutions-card-wrapper .dialogica-solutions-card-info,
    .dialogica-solutions-card-wrapper .dialogica-solutions-card-info:nth-child(2){
        width: 100%;
    }
    .about-card-wrapper .card-info:nth-child(1) {
        min-height: auto;
    }
    .sub-title-2 {
        padding: 8px 16px;
    }
    /* dialogica solutions section end */
    /* our solutions section start */
    .inner-solutions-area .card-info .learn-btn {
        margin-top: 30px;
    }
    .card-content h5 {
        font-size: 24px;
        margin-bottom: 12px;
    }
    .testimonials-wrapper .card-content h5 {
        font-size: 20px;
    }
    .author-info {
        gap: 12px;
        min-width: auto;
    }
    .author-position-info h6 {
        margin-bottom: 4px;
        line-height: 1;
    }
    .author-position-info span {
        line-height: 1.2;
    }
    .card-icon {
        margin-bottom: 16px;
    }
    .inner-solutions-area h4 {
        margin-bottom: 20px;
    }
    .our-solutions-area .inner-solutions-area {
        margin-bottom: 25px;
    }
    .card-icon {
        height: 50px;
        width: 50px;
    }
    .inner-solutions-area .card-info {
        min-height: auto;
    }
    /* our solutions section start  */
    /* our engagement models section start */
    .engagement-models-card-content {
        max-width: 100%;
    }
    .engagement-models-card-wrapper .card-info  .flex-row-reverse .engagement-img-wrapper ,
    .engagement-img-wrapper {
        width: 100%;
        position: relative;
        height: 350px;
        left: 0;
        right: 0;
        margin-top: 35px;
        top: 0;
    }
    .engagement-models-card-wrapper .card-info {
        margin-bottom: 35px;
    }
    .engagement-models-card-wrapper.version-2 .card-info {
        width: 100%;
        min-height: auto;
    }
    .engagement-models-card-wrapper .card-info.row-reverse .engagement-img-wrapper {
        right: 0;
        left: 0;
    }
    /* our engagement models section end */    
    /* about card section start */
    .about-card-wrapper .card-info:first-child {
        gap: 15px;
    }
    .about-us-area .row {
        --bs-gutter-x: 24px;
        --bs-gutter-y: 35px;
    }
    .card-responsive-show .row{
        --bs-gutter-y: 35px; 
    }
    /* about card section end */
    /* contact section start */
    .contact-form-wrapper .dialogica-btn {
        margin-top: 20px;
    }
    /* contact section end */
    /* footer section start */
    .footer-area {
        padding: 15px 0;
        position: relative;
    }

    /* footer section end */

    /* card animation  */

    .card-move-info {
        flex-wrap: wrap;
        justify-content: space-between;
        width: calc(100% - 48px);
    }
    .card-wrapper {
        gap: 20px;
    }
    .our-services-area .card-info ,
    .our-member-info {
        width: calc(50% - 10px);
    }
    .engagement-models-area .card-info, .our-services-area .card-info {
        padding: 32px;
    }
    .testimonials-wrapper .card-info {
        width: 100%;
        min-height: auto;
    }
    /* card animation  */
}
/* max-width 767 */
@media (max-width: 767.98px) { 
    /* card animation  */
    .our-services-area .card-info ,
    .our-member-info {
        width: 100%;
    }
    .our-services-area .card-info {
        min-height: auto;
    }
    /* card animation  */

    /* our team section start */
    .team-member-content-info {
        left: 10px;
        width: calc(100% - 20px);
    }
    .team-member-content-info {
        padding: 15px;
    }
    /* our team section end */
    
}
/* max-width 575 */
@media (max-width: 575.98px) {

    /* our engagement models section start */
    .engagement-models-inner-title {
        font-size: 20px;
    }
    .engagement-models-card-wrapper .card-info  .flex-row-reverse .engagement-img-wrapper, 
    .engagement-img-wrapper {
        height: 220px;
    }
    /* our engagement models section end */   
    /* about card section start */
    .about-card-wrapper  .card-info.text-center p {
        font-size: 24px;
    }
    /* about card section end */
    
  
}
/* max-width 479 */
@media (max-width: 479.98px) {
    /* heading  style*/
     .main-title ,
     h1 {
         font-size: 36px;
     }
     h2 {
         font-size: 30px;
     }
 
     h3 {
         font-size: 24px;
     }
 
     h4 {
         font-size: 20px;
     }
    /* technologies section start */
     .technologies-info {
        flex-wrap: wrap;
        gap: 10px;
    }
    /* technologies section end */
    /* dialogica solutions section start */
    .solutions-img-shape {
        width: 100%;
    }
    .card-info {
        padding: 18px;
    }
    /* dialogica solutions section end */
    /* about card section start  */
    .about-card-img img {
        height: 70px;
        width: 70px;
    }
    .center-img {
        height: 80px;
        width: 80px;
    }
    .about-card-wrapper .card-info{
        padding: 32px;
        min-height: 400px;
    }
    .about-card-img-inner {
        height: 336px;
    }
    .about-card-wrapper  .card-info.text-center p {
        font-size: 20px;
    }
    .about-card-img:nth-child(3) {
        top: auto;
        bottom: 85px;
    }
    .dialogica-solutions-card-wrapper .dialogica-solutions-card-info ,
    .engagement-models-area .card-info, .our-services-area .card-info {
        padding: 20px;
    }
    /* about card section end  */
    /* footer section start */
    .socials-link-wrapper {
        gap: 8px;
    }
    /* footer section end */
  
}
/* max-width 383 */
@media (max-width: 383.98px) {
    /* our engagement models section start */
    .engagement-models-inner-title {
        font-size: 16px;
    }
    /* our engagement models section end */  
    /* about card section start  */
    .center-img {
        height: 70px;
        width: 70px;
    }
    .about-card-wrapper .card-info{
        padding: 20px;
        min-height: 350px;
    }
    .about-card-img-inner {
        height: 310px;
    }
    .about-card-img:nth-child(1) {
        top: 10px;
    }
    .about-card-img:nth-child(4) {
        bottom: 15px;
    }

/* about card section end  */
  
}
